<div class="container">
  <nav class="navbar">
    <section class="profile">
      <img
        class="avatar"
        src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="avatar"
      />
      <span class="nav-text name">
        <p>Shrinithi Murali</p>
        <p>Software Engineer</p>
      </span>
    </section>
    <hr />
    <section class="main">
      <div class="nav-item">
        <a class="nav-text" routerLink="/dashboard">Dashboard</a>
      </div>
      <div class="nav-item">
        <a class="nav-text" routerLink="/employee">Employee</a>
      </div>
      <div class="nav-item">
        <a class="nav-text" routerLink="/project">Projects</a>
      </div>
    </section>
    <hr />
    <section class="others">
      <div class="nav-item">
        <span class="material-symbols-outlined"> settings </span>
        <span class="nav-text">Settings</span>
      </div>
      <div class="nav-item">
        <span class="material-symbols-outlined"> help </span>
        <span class="nav-text">Help</span>
      </div>
      <div class="logout nav-item">
        <span class="material-symbols-outlined"> logout </span>
        <span class="nav-text">Logout Account</span>
      </div>
    </section>
    <button class="toggle" (click)="toggleNavbar()">
      <span class="material-symbols-outlined"> chevron_left </span>
    </button>
  </nav>
  <main class="ms-4 me-4 w-100">
    <router-outlet></router-outlet>
  </main>
</div>
